<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1 style="text-align: center;">Welcome to the home page</h1>
    <h2 style="text-align: center;">Hello, <%= username %>!</h2> 
    <p><a href="/seller">Sell Ticket</a></p>
</body>
</html>
